# ide files
/.claude/
/.idea/
**/.idea/
/.cache
/.gitcode/docker
/.gitcode/workflows/*.md
/.gitcode/workflows/ci-with-docker.yml
/python/runtime/__pycache__
.DS_Store

# build files
build/
build-*/
*.pt
*.log
*.toml
*.dump
core*

# tmp files
__checked_files_list__
__code_format_check_result__
python/runtime/__pycache__

# third_party
externals/llvm-project
/CLAUDE.md
/.serena
opdev-handbook
/sim/trace.json
