[submodule "externals/stablehlo"]
	path = externals/stablehlo
	url = https://github.com/openxla/stablehlo.git
[submodule "externals/pyasc"]
	path = externals/pyasc
	url = https://gitcode.com/niuyuhu/pyasc.git