# ide files
/.claude/
/.idea/
/.cache
/.gitcode/docker
/.gitcode/workflows/*.md
/.gitcode/workflows/ci-with-docker.yml

# build files
build/

# tmp files
__checked_files_list__
__code_format_check_result__

# third_party
externals/llvm-project